
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <title>Index</title>
</head>
<body>
    <header>
        <nav>
            <a href="/Student/Index" class="btn btn-success">Index</a>
            <a href="/Student/getAll" class="btn btn-success">GetAll</a>
            <a href="/Student/create" class="btn btn-success">Create</a>
            <a href="/Student/update" class="btn btn-success">Update</a>
            <a href="/Student/delete" class="btn btn-success">Delete</a>
		</nav>
	</header>
        <main>
            <section class="continant">
                All Student
            </section>
        </main>
    <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2020 Copyright:
            <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>
